  html {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
  }

  body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }


  #featured {
      max-height: 100vh;
      overflow: hidden;
      text-align: center;
      min-width: 100%;
      min-height: 100%;
  }


  .hero {
      height: 100vh;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .enterApp {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
  }



  .launchContainer{
      position: absolute;
      display: flex;
      width: 435px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background-color: #e9e9e949;
      border-radius: 50px;
      height: 60px;
      padding: 0px 3px 0px 8px;
      bottom: 300px;
      z-index: 2;
  }

  .launchInput {
      padding: 4px;
      flex-grow: 1;
      background-color: transparent;
      outline: none;
      border: none;
      color: white;
      text-align: center;
      font-family: 'Orbitron', sans-serif;
      font-weight: 600;
      font-size: 20px;
  }
  .launchButton {
      height: 54px;
      width: 120px;
      background: #642B73;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #f02669, #94326f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: #ffffff;
      text-transform: uppercase;
      border-style: none;
      border-radius: 50px;
      font-family: 'Orbitron', sans-serif;
      font-weight: 600;
      letter-spacing: 1px;
      
  }
      


  .launchButton:hover {
      cursor: pointer;
      background: #df417e;  /* fallback for old browsers */
      transition: all 0.3s ease;
  }

  ::placeholder {
      color: rgb(236, 236, 236);
      text-align: center;
      font-family: 'Orbitron', sans-serif;
      font-weight: 600;
  }

  @media only screen and (max-width: 1570px) {
    
      }

  @media only screen and (max-width: 380px) {

  video {
      transform: translate(-300px) scale(90%)
  }

  #feature {
      min-width: none;
  }

  .launchContainer {
      bottom: 100px;
      width: 290px;
  }

  .launchInput {
      width: 30px;
      margin: 0;
      font-size: 16px;
  }

  .launchButton {
      width: 108px;
  }
      }

  .shuttleholder {
  width: 100%;
  height: 100vh;

  }

  .shuttle {
      width: 100%;
      object-fit: contain; 
  }

  .zoom {
      opacity: 0;
  }


  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #featured {
    max-height: 100vh;
    overflow: hidden;
    text-align: center;
    min-width: 100%;
    min-height: 100%;
  }

  .hero {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .enterApp {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .launchContainer {
    position: absolute;
    display: flex;
    width: 435px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #e9e9e949;
    border-radius: 50px;
    height: 60px;
    padding: 0px 3px 0px 8px;
    bottom: 300px;
    z-index: 2;
  }

  .launchInput {
    padding: 4px;
    flex-grow: 1;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 20px;
  }
  .launchButton {
    height: 54px;
    width: 120px;
    background: #642b73; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #c6426e,
      #642b73
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f02669,
      #94326f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    text-transform: uppercase;
    border-style: none;
    border-radius: 50px;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .launchButton:hover {
    cursor: pointer;
    background: #df417e; /* fallback for old browsers */
    transition: all 0.3s ease;
  }

  ::placeholder {
    color: rgb(236, 236, 236);
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
  }

  @media only screen and (max-width: 1570px) {
  }

  @media only screen and (max-width: 380px) {
    video {
      transform: translate(-300px) scale(90%);
    }

    #feature {
      min-width: none;
    }

    .launchContainer {
      bottom: 100px;
      width: 290px;
    }

    .launchInput {
      width: 30px;
      margin: 0;
      font-size: 16px;
    }

    .launchButton {
      width: 108px;
    }
  }

  .shuttleholder {
    width: 100%;
    height: 100vh;
  }

  .shuttle {
    width: 100%;
    object-fit: contain;
  }

  .zoom {
    opacity: 0;
  }

  .ISSholder {
    position: relative;
    text-align: center;
    color: white;
  }

  .ISS {
    width: 100%;
    object-fit: contain;
    display: flex;
  }

  .card {
    position: absolute;
    top: 100px;
    border: 15px solid #414a4c;
    border-radius: 20px;
    left: 40px;
  }

  .container {
    font-size: 2rem;
  }

  .card2 {
    position: relative;
    border: 60px solid #414a4c;
    border-radius: 100px;
    margin-top: 250px;
    left: -650px;
    box-shadow: #505a5c 20px 20px 20px 10px;
  }

  .container {
    font-size: 2rem;
  }

  .crewmates {
    font-size: 2rem;
    color:white;
    background-color: black;
    display: flex;
  }

  #h2 {
    justify-content: center;
  }

  .members{
    text-decoration: underline;
  }


  .flightdata{
    font-size: 2rem;
    color:white;
    background-color: black;
    display: flex;
  }

  .card3{
    position: relative;
    border: 60px solid #414a4c;
    border-radius: 100px;
    margin-top: -600px;
    right: -90px;
    box-shadow: #505a5c 20px 20px 20px 10px;
    

  }

  .card4{
    position: absolute;
    left: 950px;
    top: 1350px;
  }

  .abyss {
    height: 100vh;
    width: 100%;
    background-color: #000103;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .darkplanet {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
  }
  
  .abysstext {
    position: absolute;
    z-index: 2;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    animation-name: load;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-duration: 500ms;
    padding-right: 33px;
  }
  
  @keyframes load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .issspace {
    height: 100vh;
    width: 100%;
    background-color: palegreen;
  }
  
  .crewmates {
    height: 100vh;
    width: 100%;
    background-color: rgb(152, 175, 251);
  }
  
  
  .mapsection {
    height: 100vh;
    width: 100%;
    background-color: rgb(7, 7, 7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #map {
    width: 70%;
    height: 80%;
    margin: 20px;
    /* background-color: green; */
    border-radius: 20px;
    min-width: 295px;
  }
  
  .dataholder {
    width: 20%;
    height: 80%;
    margin: 20px;
    background-color: rgb(153, 0, 255);
    border-radius: 20px;
    min-width: 295px;
  }
  
  @media only screen and (max-width: 380px) {
    .darkplanet {
      height: auto;
      width: 100%;
      padding-top: 100px;
    }
  
    .abysstext {
      padding: 0;
    }
  
    .mapsection {
      height: auto;
    }
  
    #map {
      height: 650px;
    }
  
    .dataholder {
      height: 650px;
    }
  }
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 8px;
    overflow: hidden;
  }
  
  .shuttleholder {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shuttle {
    width: 100%;
    object-fit: cover;
    animation: zoom;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes zoom {
    0% {
      transform: scale(100%);
    }
  
    0% {
      transform: scale(120%);
    }
  }
  
  .welcomeMessage {
    position: absolute;
    color: white;
    padding-right: 90px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0;
    animation-delay: 750ms;
    animation-name: load;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #warningAlert {
    opacity: 0;
    margin-top: 27px;
    margin-bottom: 15px;
    width: 120px;
    animation-name: warning;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    cursor: pointer;
  }
  
  @keyframes warning {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #warningbg {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes flash {
    0% {
      fill: #500d13;
    }
  
    100% {
      fill: #ec061d;
    }
  }
  
  #inst {
    animation-name: inst;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    opacity: 0;
  }
  
  @keyframes inst {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 1570px) {
    .shuttle {
      height: 100vh;
      overflow: hidden;
      position: fixed;
    }
  
    .welcomeMessage {
      padding: 0;
      width: 100%;
      font-size: 1rem;
    }
  }
  
  @media only screen and (max-width: 380px) {
    .shuttle {
      height: 100vh;
      overflow: hidden;
      position: fixed;
    }
  
    .welcomeMessage {
      padding: 0;
      width: 100%;
      font-size: 0.8rem;
    }
  }
  