:root{
  --imageHeight: 10vw;
  --iconTransitionTime:10s;
}

*{
  transition: ease-in-out var(--iconTransitionTime);
  color: silver;
  font-weight: 300;
  font-style: italic;
}

.cardPage {
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index:-2;
}

@keyframes hint{
  0%{transform: translateY(-10px);opacity: 0;}
  5%{transform: translateY(-20px);opacity: 1;}
  15%{transform: translateY(-10px);opacity: 0.2;}
  30%{transform: translateY(-20px);opacity: 1;}
  45%{transform: translateY(-10px);opacity: 0.2;}
  100%{transform: translateY(-10px);opacity: 0;}
}

#hint{
  opacity: 0;
  animation: hint 3s infinite;
}

#hint:hover{
  animation: none;
  opacity: 0;
}

#cardList {
  position:absolute;
  bottom:10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  justify-content: space-around;
}

#cardList > li {
  height: var(--imageHeight);
  width: var(--imageHeight);
  
}

#cardList > li> .card-image> .image :hover{
  transform: rotate(20deg) scale(120%);
  transition: ease-in-out var(--iconTransitionTime);
}

.centered{
  text-align: center;
}