@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@keyframes hint{
  0%{opacity: 0}
  15%{opacity: 0.8;}
  50%{opacity: 1;}
  85%{opacity: 0.8;}
  100%{opacity: 0;}
}

:root{
  --imageHeight: 10vw;
  --iconTransitionTime:6s;
}

*{
  transition: ease-in-out var(--iconTransitionTime);
  color: silver;
  font-weight: 300;
  font-style: italic;
}

.cardPage {
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index:-2;
}

#facts > div{
  width: 50%;
  height: 10%;
  position: absolute;
  top: 35%;
  left: 25%;
  animation: hint var(--iconTransitionTime);
  color: white;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}

#cardList {
  position:absolute;
  bottom:10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  justify-content: space-around;
}

#cardList > li {
  height: var(--imageHeight);
  width: var(--imageHeight);
  
}

#cardList > li> .card-image> .image :hover{
  transform: rotate(5deg) scale(110%);
  transition: ease-in-out var(--iconTransitionTime);
}

#planetModalHead{
  text-align: center;
  background-color: rgb(27, 27, 27);
  color: rgb(219, 219, 219);
}

#planetModalHead>*{
  color: rgb(219, 219, 219);
}

#planetModalContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(27, 27, 27);
  color: rgb(219, 219, 219);
}

#planetModalContent > *{
  background-color: rgb(27, 27, 27);
  color: rgb(219, 219, 219);
}

#planetModalFooter{
  display: flex;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  color: rgb(219, 219, 219);
}

#closeModal{
  background-color: rgb(27, 27, 27);
  color: rgb(219, 219, 219);
}